<div class="ce-columns block--gray">
  <div class="container">
    <div class="ce-columns--inner">
      <div style="width: 33.333333333333%" class="column">
        <div class="copy">
          <p><img class="wp-image-265 size-full aligncenter"
                  src="/_extra_res/partner_final.svg" alt="" width="200"></p>
          <h2 style="text-align: center;"><b>Participating IXs</b></h2>
          <p style="text-align: center;">IX-API allows for the programmability<br>
          of all participating Internet Exchanges</p>
          <p style="text-align: center;"><a class="button" href="/about-ix-api/participating-ixs/">Participating IXs</a></p>
        </div>
      </div>
      <div style="width: 33.333333333333%" class="column">
        <div class="copy">
          <h2><img class="wp-image-263 size-full aligncenter"
                   src="/_extra_res/governance_final.svg" alt="" width="200"></h2>
          <h2 style="text-align: center;"><b>Governance</b></h2>
          <p style="text-align: center;">The three founding members of the IX-API<br>
          have one seat in the IX-API board each</p>
          <p style="text-align: center;"><a class="button" href="/about-ix-api/ix-api-board-and-governance-model/">Governance</a></p>
        </div>
      </div>
      <div style="width: 33.333333333333%" class="column">
        <div class="copy">
          <h2><img class="wp-image-264 size-full aligncenter"
                   src="/_extra_res/license_final.svg" alt="" width="200"></h2>
          <h2 style="text-align: center;"><strong>License</strong></h2>
          <p style="text-align: center;">IX-API is licensed under<br>
          Apache 2.0 (open and liberal license)</p>
          <p style="text-align: center;"><a class="button" href="/about-ix-api/licensing/">License</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
