<div class="container">
<div class="breadcrumb-element">
<p id="breadcrumbs">
  <span><span>
      <a href="/">Home</a> ›

      {{- $parent := .Page.Params.Get "parent" -}}
      {{- if $parent -}}
        {{- $page := .Site.GetPage (string $parent) -}}
        {{- with $page }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a> ›
        {{ end }}
      {{ end }}
      
      <span class="breadcrumb_last" aria-current="page">{{ .Page.Title }}</span>
  </span></span></p> 
</div>
</div>
