<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />

  <link rel="stylesheet" href="https://use.typekit.net/fsl0dik.css" />
  {{ with resources.Get "/ix-api/style/fixes.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" />
  {{ end }}
  {{ with resources.Get "/ix-api/style/dump.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" >
  {{ end }}
    
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} - {{ end }}{{ .Site.Title }}{{ end }}</title>

    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    {{ hugo.Generator }}
    {{/* NOTE: For Production make sure you add `HUGO_ENV="production"` before your build command */}}
  {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  {{ else }}
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  {{ end }}

<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>

{{ with resources.Get "/ix-api/icons/cropped-favicon-1-32x32.png" -}}
<link rel="icon" href="{{.RelPermalink}}" sizes="32x32" />
{{ end }}
{{ with resources.Get "/ix-api/icons/cropped-favicon-1-192x192.png" -}}
<link rel="icon" href="{{.RelPermalink}}" sizes="192x192" />
{{ end }}
{{ with resources.Get "/ix-api/icons/cropped-favicon-1-180x180.png" -}}
<link rel="apple-touch-icon" href="{{.RelPermalink}}" />
{{ end }}
{{ with resources.Get "/ix-api/icons/cropped-favicon-1-270x270.png" -}}
<meta name="msapplication-TileImage" content="{{ .Permalink }}" />
{{ end }}

</head>
