
<div class="container">
<header class="header">
        <div class="header-inner">
            <button class="menu-accessor">☰</button>

              <div class="brandline">
                    <a href="/">
                      {{- $logo := resources.Get "images/logo.svg" -}}
                      <img src="{{ $logo.RelPermalink }}" alt="IX-API" />
                    </a>
                </div>
               </div>


        <nav class="main-nav">
            <div class="menu-main-container">
    {{ partial "menu.html" . }}
            </div>        </nav>

</header>
</div>
