{{ $contentImageURL := .Params.contentimage }}

{{ partial "breadcrumb.html" . }}

<div class="container">
  <div class="page-title">
    <h1>{{.Title}}</h1>
  </div>
</div>

{{- $layout := .Params.Get "layout" -}}
{{ if eq $layout "plain" }}
 {{ .Content }}
{{ else if eq $layout "text" }}
<div class="ce-generic-copy">
  <div class="container">
    <div class="ce-generic-copy--inner">
      <div class="copy">{{ .Content }}</div> 
    </div>
  </div>
</div>
{{ else }}
    
<div class="ce-left-right">
  <div class="container copy">
    <div class="ce-left-right--inner">
      {{ if $contentImageURL }}
      <div class="left">
        {{- $orig := $contentImageURL | resources.Get  -}}
        {{- $image := "650x440" | $orig.Fit -}} 
        <img style="max-width: 100%; width: auto; height: auto;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" />
      </div>
      {{ end }}    
      <div class="right">
        {{ .Content }}
      </div>
    </div> 
  </div>
</div>

{{ end }}

{{ $extra := printf "%s%s_extra.html" .Page.File.Dir .Page.File.BaseFileName }}
{{ if (fileExists $extra) }}
{{ readFile $extra | safeHTML  }}
{{ end }}
