

/* Honestly I do not see why the menu should need javasript. */

#menu-main > li:hover ul {
  display: block;
}

.copy h2 {
  color: #00DCFF;
}

.container .copy h3 {
  text-transform: none;
}


.spacer {
  height: 4em
}

.copy hr {
  border: 0;
  border-bottom: 1px solid #bbb;
  border-style: dashed;
  width: 75%;
  margin: 4em auto;
}

.page-glossary .copy ul {
   list-style-type: none; 
}

.page-glossary .copy h3 {
  text-transform: none;
  font-weight: bold;
  font-size: 1em;
}

